* {
  text-decoration: none !important;
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* ================= header start */
header {
  background: url(./img/nike_bg_02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 296px !important;
}

nav {
  width: 1093px;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}

header nav .logo {
  display: block;
  margin-top: 10px !important;
}

nav ul {
  display: flex;
}

header .title h1 {
  color: #c0bc45;
  font-size: 100px;
  font-weight: 700;
}

nav ul li a {
  display: block;
  padding: 19px 24px 21px 28px !important;
  font-weight: 700;
  font-size: 18px;
  color: #4d4d4d;
  transition: .5s;
}

header nav ul li a:hover {
  background: #c1bc45;
  color: #f7f7f7;
}


header .title {
  width: 1093px;
  margin: 185px auto 0 !important;
}

header .title h1 {
  color: #c0bc45;
  font-size: 100px;
  font-weight: 700;
}

header .title p {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 18px;
}

header .title p span {
  font-weight: 900;
  padding-left: 11px !important;
  color: #000;
}

/* ================================== main start */

main {
  padding: 90px 0 130px !important;
}

main .product {
  width: 1111px;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}

main .product .product_left {
  width: 540px;
}

main .product .product_left .left_info {
  margin-top: 21px !important;
}

main .product .product_left .left_info h3 {
  font-weight: 700;
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

main .product .product_left .left_info h3 span {
  padding-left: 11px !important;
  font-size: 25px;
}

main .product .product_left .left_info p {
  color: #333;
  font-size: 16px;
  line-height: 27px;
}


main .product .product_right {
  width: 540px;
}

main .product .product_right .right_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 4px solid #aeaeae;
  margin-bottom: 20px !important;
  padding: 13px 6px 14px 20px !important;
  transition: .5s;
}

main .product .product_right .right_box:hover {
  border-color: #f0efb6;
}

main .product .product_right .right_box .box_info {
  margin-left: 38px !important;
}

main .product .product_right .right_box .box_info h3 {
  font-weight: 700;
  color: #000;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 16px;
}

main .product .product_right .right_box .box_info p {
  color: #919191;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}


footer {
  background: #eee9e9;
  padding: 109px 0 31px !important;
}

footer p {
  text-align: center;
  margin-top: 65px !important; 
  font-weight: 700;
  color: #5a5a5a;
  font-size: 18px;
}

footer nav ul li a {
  transition: .5s !important;
}

footer nav ul li a::after {
  content: "";
  display: block;
  width: 0%;
  height: 4px;
  background: #ff0000;
  margin-top: 10px;
  transition: .5s;
}

footer nav ul li a:hover {
  color: #ff0000;
}

footer nav ul li a:hover::after {
  width: 100%;
}